*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}
body{
    background-color: rgb(248, 233, 215);
    overflow-x: hidden;
    min-height: 100vh;
    height: auto;
}
/* header */
header{
    width: 80vw;
    height: 20vh;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-content: center;
   
}
.menuBaixo{
    display: none;
}
header div{ 
    padding: 10px;
}
header .logo b{
    font-size: 2rem;
    font-weight: 800;
}
header  .nav a{
    position: relative;
    top: 10px;
    padding: 10px;
    text-align: end;
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(116, 112, 107);
    
}
header  .nav a:hover{
    color: rgb(44, 42, 42);
}
header .shop{
    position: relative;
    top: 2vh;
}
header .shop input{
    position: relative;
    top: -1vh;
    padding: 5px;
    width: 10vw;
    font-size: 18px;
    background-color:  rgb(248, 233, 215);
}
header .shop b{
    position: relative;
    top: -1vh;
    padding: 5px;
    width: 10vw;
    font-size: 18px;
    color: rgb(116, 112, 107);
}
header .shop button{
    display: none;
    padding-right: 15px;
    background-color: white;
    cursor: pointer;
}
/* section */
section{
    width: 85vw;
    height: auto;
    margin: auto;
    
}


/* media query de 950px */
@media only screen and (max-width: 850px) {
    body{
        background-color: rgb(248, 233, 215);
    }
    header{
        width: 85vw;
        height: 20vh;
        margin: auto;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto  auto;
        justify-content: space-between;
        align-content: center;
       
    }
    
    header .menuBaixo{
        display: none;
        height: 20vh;
        width: 80vw;
        text-align: end;
        

    }
    header .menuBaixo a{
        text-align: end;
        display: block;
        text-decoration: none;
        color: rgb(116, 112, 107);
        font-size: 18px;
    }
    header .menuBaixo a:hover{
        color: rgb(34, 33, 32);
        

    }

    header .menuBaixo button{
        text-align: center;
        display: block;
        background-color: rgb(248, 233, 215);

    }
    header .shop button{
        display: inline;
        padding-right: 5vw;
        background-color: rgb(248, 233, 215);
        cursor: pointer;
    }
    header div{ 
        padding: 10px;
    }
    header .logo b{
        font-size: 2rem;
        font-weight: 800;
    }
    header  .nav{
        display: none;
        position: relative;
        top: 10px;
        padding: 20px;
        text-align: end;
        font-size: 20px;
        text-decoration: none;
        color: rgb(116, 112, 107);
        
    }
    header  .nav a:hover{
        color: rgb(44, 42, 42);
    }
    header .shop{
        position: relative;
        top: 2vh;
    }
    header .shop input{
        position: relative;
        top: -1vh;
        padding: 5px;
        width: 10vw;
        font-size: 18px;
        background-color:  rgb(248, 233, 215);
    }
    header .shop b{
        position: relative;
        top: -1vh;
        padding: 5px;
        width: 10vw;
        font-size: 18px;
        color: rgb(116, 112, 107);
    }
}

  @media only screen and (max-width: 450px) {
    body{
        background-color:  rgb(248, 233, 215);
    }
    header{
        width: 85vw;
        height: 20vh;
        margin: auto;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto  auto;
        justify-content: space-between;
        align-content: center;
       
    }
    
    header .menuBaixo{
        display: none;
        height: 20vh;
        width: 80vw;
        text-align: end;
        

    }
    header .menuBaixo a{
        text-align: end;
        display: block;
        text-decoration: none;
        color: rgb(116, 112, 107);
        font-size: 18px;
    }
    header .menuBaixo a:hover{
        color: rgb(34, 33, 32);
        

    }

    header .menuBaixo button{
        text-align: center;
        display: block;
        background-color: rgb(248, 233, 215);

    }
    header .shop button{
        display: inline;
        padding-right: 5vw;
        background-color: rgb(248, 233, 215);
        cursor: pointer;
    }
    header div{ 
        padding: 10px;
    }
    header .logo b{
        font-size: 2rem;
        font-weight: 800;
    }
    header  .nav{
        display: none;
        position: relative;
        top: 10px;
        padding: 20px;
        text-align: end;
        font-size: 20px;
        text-decoration: none;
        color: rgb(116, 112, 107);
        
    }
    header  .nav a:hover{
        color: rgb(44, 42, 42);
    }
    header .shop{
        position: relative;
        top: 2vh;
    }
    header .shop input{
        position: relative;
        top: -1vh;
        padding: 5px;
        width: 10vw;
        font-size: 18px;
        background-color:  rgb(248, 233, 215);
    }
    header .shop b{
        position: relative;
        top: -1vh;
        padding: 5px;
        width: 10vw;
        font-size: 18px;
        color: rgb(116, 112, 107);
    }
    /* section */
    
  }